#mtlo-app-home-page {
	background-color: $grey_0;
	min-height: 100vh;
	#mtlo-app-home-banner {
		padding: 20px;
		#mtlo-home-banner-logo {
			width: 500px;
			max-width: 75%;
		}
	}

	#mtlo-app-home-main-top {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 50px;
		margin: 0 auto;
		width: 1300px;
		#mtlo-app-home-main-content {
			width: 600px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 30px;
			gap: 100px;
		}

		#mtlo-app-home-mentaleau-img {
			img {
				width: 500px;
			}
		}

		@media screen and (max-width: 1000px) {
			display: block;
			max-width: 100%;
			#mtlo-app-home-main-content {
				width: 100%;
			}
			#mtlo-app-home-mentaleau-img {
				display: none;
			}
		}
	}

	.hp-text-block {
		p {
			color: $grey_5;
			max-width: 500px;
			font-size: $text_l;
			text-align: justify;
			margin: 0;
		}
	}

	.buttons-block {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
		@media screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	button,
	.mtlo-app-hp-button {
		background-color: $grey_0;
		border-width: 2px;
		border-style: solid;
		font-size: $text_l;
		color: $grey_5;
		border-top-color: $grey_5;
		border-left-color: $grey_2;
		border-right-color: $grey_4;
		border-bottom-color: black;
		padding: 20px;
		cursor: pointer;
		fill: $grey_5;
		text-align: center;

		display: flex;
		gap: 15px;
		align-items: center;
		text-decoration: none;

		* {
			cursor: pointer;
			flex: 1;
		}

		.svg-icon {
			width: 80px;
			height: 80px;
		}

		&:hover {
			background-color: darken($grey_0, 3%);
			color: $light_green;
			fill: $light_green;
			border-right-color: darken($green, 25%);
			border-top-color: $light_green;
		}

		&:active {
			border-bottom-color: $light_green;
			border-top-color: black;
		}
	}
}
