#mtlo-documentation-page {
	#mtlo-documentation-book-view {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
		min-height: 100vh;

		&>aside {
			color: $grey_4;
			background-color: $grey_1;
			width: 300px;
			overflow-y: auto;

			nav {
				ul {
					list-style-type: none;
					padding: 0;
					margin: 0;
				}

				&>ul {
					&>li {
						.book-chap-title {
							margin: 0;
							padding: 8px 20px;
							cursor: pointer;
							display: flex;
							gap: 10px;
							align-items: center;

							&.with-sections:not(.active) {
								&::before {
									content: " ";
									display: block;
									width: 6px;
									height: 6px;
									border-color: $grey_4;
									border-style: solid;
									border-top-width: 1px;
									border-right-width: 1px;
									border-bottom-width: 0;
									border-left-width: 0;
									transform: rotate(45deg);
								}
							}

							&.active {
								color: $green;

								&.with-sections::before {
									content: " ";
									display: block;
									width: 6px;
									height: 6px;
									border-color: $green;
									border-style: solid;
									border-top-width: 0;
									border-right-width: 1px;
									border-bottom-width: 1px;
									border-left-width: 0;
									transform: rotate(45deg);
								}
							}

							&:hover {
								background-color: lighten($grey_0, 5%);
								color: lighten($green, 15%);
							}
						}

						ul.book-chap-sections-list {
							li.book-section-index {
								padding: 8px 20px 8px 40px;
								cursor: pointer;
								font-size: $text_s;

								&.active {
									background-color: $grey_0;
									color: $green;
								}

								&:hover:not(.active) {
									background-color: lighten($grey_0, 5%);
									color: lighten($green, 15%);
								}
							}
						}
					}
				}
			}
		}

		&>section {
			background-color: $grey_6;
			padding: 30px;
			display: grid;
			grid-template-rows: auto 40px;
			position: relative;

			.chapter-section-page-contents,
			.chapter-page-contents {
				display: grid;
				grid-template-columns: 600px auto;
				gap: 20px;
				margin-bottom: 30px;

				pre {
					background-color: $grey_1;
					color: $grey_6;
					padding: 20px;
					overflow-x: auto;
					font-size: 12px;
				}
			}

			.chapter-title,
			.chapter-section-title {
				margin: 0 0 40px;
			}

			.chapter-paragraph,
			.chapter-section-paragraph {
				margin: 0;
				text-align: justify;
				min-height: 200px;
			}

			.chapter-paragraph {
				font-size: $text_l;
			}

			.chapter-image-steps-container {
				width: 600px;

				.steps-carousel {
					width: 100%;
					height: 400px;
					overflow: hidden;

					img {
						width: 100%;
					}
				}

				.steps-carousel-thumbnails {
					width: 100%;
					height: 100px;
					display: flex;
					gap: 5px;
					overflow-x: auto;
					padding: 5px 0;

					img {
						height: 100%;
						border: 1px solid transparent;
						opacity: 0.5;
						cursor: pointer;

						&.selected {
							border: 1px solid $green;
							opacity: 1;
						}
					}
				}
			}

			.chapter-image {
				max-width: 500px;
				max-height: 600px;
			}

			.chapter-page-contents {
				.chapter-summary {
					grid-column: 1;

					&>ul {
						list-style-type: disclosure-closed;
						margin: 0;
						padding: 0 0 0 40px;

						&>li {
							cursor: pointer;
							padding: 5px;

							&:hover {
								color: $green;
							}
						}
					}
				}
			}

			.pages-navigation {
				display: flex;
				justify-content: center;
				position: sticky;
				bottom: 30px;
				background-color: #0001;

				&>* {
					width: 50px;
				}

				button {
					cursor: pointer;
					border: none;
					background-color: transparent;
					color: darken($green, 20%);
					font-weight: bold;
					font-size: 18px;

					&:hover {
						color: $green;
					}
				}
			}
		}

		@media screen and (max-width: 930px) {
			grid-template-columns: 100vw;
			grid-template-rows: auto auto 1fr;

			.page-header {
				box-shadow: 0 3px 10px #0004;
				z-index: 3;
			}

			&>aside {
				width: 100%;
				grid-row: 2;
				grid-column: 1;
				position: sticky;
				top: 0;
				z-index: 2;
				box-shadow: 0 3px 10px #0004;

				nav {
					height: 130px;
					overflow-y: auto;

					&>ul {
						&>li {
							.book-chap-title {
								margin: 0;
								padding: 10px 20px;

								&.active {
									color: $green;

									&.with-sections::before {
										content: " ";
										display: block;
										width: 6px;
										height: 6px;
										border-color: $green;
										border-style: solid;
										border-top-width: 0;
										border-right-width: 1px;
										border-bottom-width: 1px;
										border-left-width: 0;
										transform: rotate(45deg);
									}
								}

								&:hover {
									background-color: lighten($grey_0, 5%);
									color: lighten($green, 15%);
								}
							}

							ul.book-chap-sections-list {
								li.book-section-index {
									padding: 12px 20px;
									cursor: pointer;
									font-size: $text_s;

									&.active {
										background-color: $grey_0;
										color: $green;
									}

									&:hover:not(.active) {
										background-color: lighten($grey_0, 5%);
										color: lighten($green, 15%);
									}
								}
							}
						}
					}
				}
			}

			&>section {
				padding: 10px;
				grid-row: 3;

				.chapter-section-page-contents,
				.chapter-page-contents {
					display: grid;
					grid-template-columns: 1fr;

					pre {
						padding: 10px;
						overflow-x: scroll;
						width: calc(100vw - 20px);
					}
				}

				.chapter-title,
				.chapter-section-title {
					margin: 0 0 10px;
				}

				.chapter-paragraph,
				.chapter-section-paragraph {
					min-height: unset;
					grid-row: 2;
				}

				.chapter-image-steps-container {
					width: 100%;

					.steps-carousel {
						width: 100%;
						height: auto;
					}

					.steps-carousel-thumbnails {
						display: none;
					}
				}

				.chapter-image {
					max-width: 100%;
					max-height: 300px;
					grid-row: 1;
				}

				.chapter-page-contents {
					.chapter-summary {
						&>ul {
							&>li {
								padding: 15px 5px;
							}
						}
					}
				}
			}
		}
	}
}