.mtlo-app-menu-panel-component {
	$panel_width: 250px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	.cog-icon {
		position: absolute;
		right: 0;
		top: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.svg-icon {
			fill: $grey_4;
			width: 50px;
			height: 50px;
		}

		padding: 10px;
		cursor: pointer;

		&:hover {
			.svg-icon {
				fill: $grey_6;
			}
		}

		.panel-title {
			color: $grey_5;
			transition: width 0.3s;
			overflow: hidden;
			font-weight: bold;
			display: flex;
			align-items: center;
			flex: 1;
			text-align: center;
			width: 0;
			max-width: 100%;
			gap: 30px;
		}
	}

	aside.mtlo-app-menu-panel {
		width: 0;
		overflow: hidden;
		transition: width 0.3s;
		background-color: $grey_0;
		height: 100%;
		padding-top: 90px;
		box-shadow: 0 0 0#fff2;
		display: flex;
		flex-direction: column;
		gap: 30px;
		overflow-y: auto;
		.setting-label {
			font-weight: bold;
			font-size: $text_s;
			color: $grey_4;
			display: block;
			padding: 5px 0 10px;
			white-space: nowrap;
		}
		.pref-block {
			padding: 20px;
			p {
				margin: 0;
				padding: 0;
				color: $grey_5;
				font-size: 12px;
				width: calc($panel_width - 45px);
				text-align: justify;
			}
			&.language-block {
				.flags {
					display: flex;
					gap: 10px;
					padding: 0;

					img {
						cursor: pointer;
						opacity: 0.5;
						width: 40px;
						height: 30px;
						&.active,
						&:hover {
							opacity: 1;
						}
						&.active {
							cursor: default;
						}
					}
				}
			}
			&.beta-block {
				border: 2px dashed $yellow;
				padding: 15px;
				margin: 5px;
				.setting-label {
					color: $yellow;
				}
			}
			&.dev-block {
				ul {
					color: $grey_5;
					margin: 5px 0;
					padding: 0 20px;
					font-size: 12px;
				}
			}
		}
	}

	&.shown {
		.mtlo-app-menu-panel {
			width: $panel_width;
			box-shadow: 0 0 3px #fff2;
		}
		.panel-title {
			width: 150px;
		}
	}
}
