#dial-box-modal {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #0005;
	@include flex-center;
	.dial-box {
		background-color: $grey_2;
		padding: 25px;
		color: $grey_6;
		min-width: 500px;
		.dial-box-title {
			h3 {
				margin: 0;
			}
			margin-bottom: 20px;
		}
		.action-buttons-row {
			display: flex;
			gap: 10px;
			margin: 10px 0;
			&.align-end {
				justify-content: flex-end;
			}
			&.align-center {
				justify-content: center;
			}
		}

		.warn-message {
			margin: 0;
			color: $orange;
		}

		ul.list-settings {
			margin: 10px 0 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			flex-direction: column;
			gap: 12px;
			& > li {
				display: flex;
				gap: 10px;
				min-height: 35px;
			}
		}
	}
}
