#app-screen {
    display: grid;
    grid-template-columns: 350px 1fr;
    @import "./components/action-panel/action-panel.scss";
    @import "./components/project-view/project-view.scss";
    @import "../../jsvg/svg-icons.scss";

    .action-button,
    .mtlo-dt-button {
        &.action-button {
            @include ui-button(50px, 50px);
        }
        &.mtlo-dt-button {
            @include ui-button(auto, 50px);
        }
        &:hover,
        &:active,
        &.active {
            .svg-icon {
                &.icon-play,
                &.icon-check,
                &.icon-back-check {
                    fill: $light_green;
                }
                &.icon-exit,
                &.icon-delete,
                &.icon-cancel,
                &.icon-back-cancel {
                    fill: $red;
                }
                &.icon-import,
                &.icon-export,
                &.icon-plus {
                    fill: $blue;
                }
            }
        }
    }

    .action-text-button {
        @include ui-button(auto, 50px);
        padding: 5px 15px;
        color: $grey_6;
    }

    .action-button-wide {
        @include ui-button(70px, 50px);
        &:hover,
        &:active,
        &.active {
            .svg-icon {
                fill: $yellow;
            }
        }
    }

    .action-button,
    .action-button-wide {
        padding: 5px;
        * {
            width: 100%;
            height: 100%;
        }
    }

    .soundtrack-player-figure {
        margin: 0;
        position: relative;
        background-color: $grey_1;
        figcaption {
            padding: 10px;
            color: $grey_6;
        }
        audio {
            width: 100%;
            padding: 10px;
        }
    }
}
